# 自動生成ファイル（コミットしない）
backend/target/
backend/.openapi-generator

# フロントビルド成果物
frontend/dist/
frontend/coverage

# テスト成果物（Storybook / Playwright）
frontend/storybook-static/
frontend/playwright-report/
frontend/test-results/

# Node
frontend/node_modules/
frontend/dist/
node_modules/

# IDE
.idea/
.vscode/settings.json
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
